<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Virtual Stock Trade</title>
    </head>
    <body>
        <!-- Hang React App Here -->
        <h3>Sign Up</h3>
        <form method="POST" action='/signup'>
          <input name="username" type="text" placeholder="username"></input>
          <input name="password" type="password" placeholder="password"></input>
          <input name="firstName" type="text" placeholder="firstName"></input>
          <input name="lastName" type="text" placeholder="lastName"></input>
          <input type='submit' value="login">
        </form>
        <!-- LOAD SCRIPTS -->


    </body>
</html>