<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Virtual Stock Trade</title>
    </head>
    <body>
        <!-- Hang React App Here -->
        <h1 class="Litev30">Crypto Lite++++++++ v30</h1>
        <div id="root"></div>
        <!-- LOAD SCRIPTS -->
        <!-- <script type="text/javascript" src="/build/bundle.js"></script> -->
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="./../build/bundle.js"></script>
        <!-- <script src="./index.js"></script> -->
    </body>
</html>